/* FONTS STYLE */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* PAGE ANIMATION STYLE */

/* PAGE STYLE */

:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --main-color: #333333;
  --secondary-color: #999999;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}
button {
  outline: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER STYLE */

.hero-section {
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/eagle.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/eagle@2x.jpg);
  }
}

.hero-header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav {
  width: 620px;
}
.logo {
  font-size: 1.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.nav-list__item-link {
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.nav-list__item-link-svg {
  fill: #fff;
  fill-rule: evenodd;
}
.nav-list__item-link:hover,
.nav-list__item-link-svg:hover {
  fill: #fce38a;
  color: #fce38a;
}
.nav-list__item-link::after {
  content: '';
  display: block;
  background-color: #fce38a;
  width: auto;
  height: 3px;
  margin: auto;
  margin-top: 12px;
  opacity: 0;
  visibility: hidden;
}
.nav-list__item-link:hover::after {
  opacity: 1;
  visibility: visible;
}
.hero-section__description {
  font-size: 4.5rem;
  font-family: 'Kaushan Script';
  margin-bottom: 37px;
}
.hero-section__titel {
  font-size: 9.375rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  margin: 0px 0px 110px;
}
.--under {
  display: block;
}
.hero-section__btn {
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: solid 3px rgb(255, 255, 255);
  background-color: transparent;
  width: 154px;
  height: 34px;
}

.section-titel__description {
  display: block;
  font-size: 1.5rem;
  font-family: 'Kaushan Script';
  text-transform: none;
  margin-bottom: 22px;
}

.section-titel {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 112px;
  position: relative;
}
.section-titel::after {
  display: block;
  content: '';
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 40px;
}

.team-description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 1.6;
  text-align: center;
  margin-bottom: 95px;
}

/* SERVICES STYLES */

.services {
  padding-top: 46px;
  padding-bottom: 92px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-list__item {
  width: 345px;
  background-repeat: no-repeat;
  padding-left: 59px;
}
.services-list__item:not(:nth-child(n + 4)) {
  margin-bottom: 100px;
}
.services-list__item-alarm {
  background-image: url(../images/icons/alarm.svg);
}
.services-list__item-linegraph {
  background-image: url(../images/icons/linegraph.svg);
}
.services-list__item-computer {
  background-image: url(../images/icons/computer.svg);
}
.services-list__item-book {
  background-image: url(../images/icons/book.svg);
}
.services-list__item-home {
  background-image: url(../images/icons/home.svg);
}
.services-list__item-image {
  background-image: url(../images/icons/image.svg);
}

.services-list__titel {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
}
.services-list__description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 1.6;
  text-align: left;
}

/* TEAM STYLES */

.team {
  padding-bottom: 81px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list__item {
  width: 380px;
  text-align: center;
}
.team-list__titel {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.team-list__description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-style: italic;
  line-height: 1.6;
}
.team-list__img-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(252, 227, 138, 0.9),
    rgb(243, 129, 129, 0.9)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.overlay-list {
  display: flex;
}
.overlay-list__item:not(:last-child) {
  margin-right: 1px;
}
.team-list__item:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.overlay-list__item-link {
  display: flex;
  align-items: center;
  background-color: rgb(252, 227, 138);
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.overlay-list__item-link-svg {
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.overlay-list__item-link-facebook {
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #e5e5e5;
  padding: 11px 0;
}
.footer__description {
  font-size: 0.875rem;
}
.footer__description-link {
  color: #f38181;
}
.contact-form {
  display: flex;
}
.contact-form__input {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: #cccccc;
  font-style: italic;
  line-height: 1.6;
  width: 234px;
  height: 40px;
  border: solid 1px rgb(231, 231, 231);
  border-right: none;
  padding-left: 12px;
  outline: none;
}
.contact-form__btn {
  font-size: 0.875rem;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
}
.contact-form__input::placeholder {
  color: #cccccc;
}
