/* FONTS STYLE */

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
    url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ANIMATION PAGE */

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* PAGE STYLE */

:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --main-color: #333333;
  --secondary-color: #999999;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}
button {
  outline: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER STYLE */

.hero-section {
  background-image: linear-gradient(
      rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9)
    ),
    url(../images/eagle.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: center;
  color: rgb(255, 255, 255);
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url(../images/eagle@2x.jpg);
  }
}

.hero-header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 28px;
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav {
  width: 620px;
}
.logo {
  font-size: 1.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.nav-list__item-link {
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  transition: all 0.2s linear;
}
.nav-list__item-link-svg {
  fill: rgb(255, 255, 255);
}

/* .list-wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__icon-list {
  display: flex;
  justify-content: space-between;
} */
/* .nav__icon-list-item-link {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/menu/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.nav__icon-list-item-btn {
  width: 18px;
  height: 18px;
  background-image: url(../images/icons/menu/glass.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-color: transparent;
} */
.nav-list__item-link:hover {
  color: #fce38a;
  fill: #fce38a;
}
.nav-list__item-link::after {
  content: '';
  display: block;
  background-color: #fce38a;
  width: auto;
  height: 3px;
  margin: auto;
  margin-top: 12px;
  opacity: 0;
  visibility: hidden;

  transition: all 0.2s linear;
}
.nav-list__item-link:hover::after {
  opacity: 1;
  visibility: visible;
}
.hero-section__description {
  font-size: 4.5rem;
  font-family: 'Kaushan Script';
  margin-bottom: 37px;

  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.hero-section__titel {
  font-size: 9.375rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  margin-top: 0;
  margin-bottom: 110px;

  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
.--under {
  display: block;
}
.hero-section__btn {
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border: solid 3px rgb(255, 255, 255);
  background-color: transparent;
  width: 154px;
  height: 34px;

  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.section-titel__description {
  display: block;
  font-size: 1.5rem;
  font-family: 'Kaushan Script';
  text-transform: none;
  margin-bottom: 22px;
}

.section-titel {
  font-size: 1.875rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 112px;
  position: relative;
}
.section-titel::after {
  display: block;
  content: '';
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 40px;
}

.team-description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 1.6;
  text-align: center;
  margin-bottom: 95px;
}

/* SERVICES STYLES */

.services {
  padding-top: 46px;
  padding-bottom: 92px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__list-item {
  display: flex;
  width: 345px;
}
.services__list-item:not(:nth-child(n + 4)) {
  margin-bottom: 100px;
}
.services__list-icon {
  fill: rgb(149, 225, 211);
  width: 32px;
  height: 32px;

  transition: all 0.2s linear;
}
.services__list-icon-wrapper {
  margin-right: 28px;
}
.services__list-item-titel {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
}
.services__list-item-description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  line-height: 1.6;
  text-align: left;
}

.services__list-item:hover .services__list-icon {
  fill: rgb(243, 129, 129);

  animation: rotate-scale-up 0.65s linear both;
}

/* TEAM STYLES */

.team {
  padding-bottom: 81px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list__item {
  width: 380px;
  text-align: center;
}
.team-list__titel {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.team-list__description {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-style: italic;
  line-height: 1.6;
}
.team-list__img-wrapper {
  position: relative;
  margin-bottom: 30px;

  transition: all 0.2s linear;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(252, 227, 138, 0.9),
    rgb(243, 129, 129, 0.9)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;

  transition: all 0.2s linear;
}
.overlay-list {
  display: flex;
}
.overlay-list__item:not(:last-child) {
  margin-right: 1px;
}
.team-list__item:hover .overlay {
  opacity: 1;
  visibility: visible;
  box-shadow: rgb(149, 225, 211) 10px 10px;
}
.team-list__item:hover .team-list__img-wrapper {
  transform: translate(-10px, -10px);
}
.overlay-list__item-link {
  display: flex;
  align-items: center;
  background-color: rgb(252, 227, 138);
  width: 56px;
  height: 56px;
  cursor: pointer;

  transition: all 0.2s linear;
}
.overlay-list__item-link-svg {
  fill: rgb(243, 129, 129);
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.overlay-list__item-link:hover {
  background-color: rgb(243, 129, 129);
}
.overlay-list__item-link:hover .overlay-list__item-link-svg {
  fill: #fff;

  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #e5e5e5;
  padding: 11px 0;
}
.footer__description {
  font-size: 0.875rem;
}
.footer__description-link {
  color: #f38181;
}
.contact-form {
  display: flex;
}
.contact-form__input {
  font-size: 0.9375rem;
  font-family: var(--secondary-font);
  color: #cccccc;
  font-style: italic;
  line-height: 1.6;
  width: 234px;
  height: 40px;
  border: solid 1px rgb(231, 231, 231);
  border-right: none;
  padding-left: 12px;
  outline: none;
}
.contact-form__btn {
  font-size: 0.875rem;
  font-family: 'Montserrat';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  background-color: rgb(149, 225, 211);
  width: 150px;
  height: 40px;
}
.contact-form__input::placeholder {
  color: #cccccc;
}
